a.headermaintitle{ font-family:"微软雅黑"; font-size:24px; display:block; color:#4B8D32;}
.headerText{ font-weight:bold;font-size:14px; margin-top:5px;}
#mylinks{ font-size:12px;}
.postTitle2{ font-size:14px;}
.dayTitle img{ vertical-align:middle;}
.c_b_p_desc{ line-height:20px;}
.entrylistItemPostDesc{ font-size:11px;color: #4B8D32;margin-top: 10px;}
.day{ color:#373a17;}
a:link, a:active{ color:#309ed8;}
a:visited{ color:#309ed8;}
.post #cnblogs_post_body p{ font-size:14px;}
